$secondary-color: #606060;
$primary-color: #303030;
$primary-title-color: #030303;
$searchbox-btn-legacy-color: #f8f8f8;
$searchbox-border-legacy-color: #d3d3d3;
$searchbox-btn-hover-color: #f0f0f0;
$searchbox-btn-hover-border-color: #c6c6c6;
$sidebar-hover-color: #e5e5e5;
$general-background: #f9f9f9;
$border-bottom: rgba(0, 0, 0, 0.1);
