.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__btn {
    min-width: fit-content;
    margin: 12px 12px 12px 0;
    padding: 0 12px;
    color: $primary-color;
    font-size: 0.9rem;
    border-radius: 16px;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: bold;
    line-height: 1.7rem;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  &__items {
    display: flex;
    overflow-x: hidden;
  }
}
.active {
  color: #fff;
  background-color: #000 !important;
}
